{% extends 'organization/read_base.html' %}

{% block primary_content %}
  {% snippet 'organization/snippets/organization.html', organization=c.group_dict, show_nums=true %}
{% endblock %}

{% block package_list %}
  {% if c.page.items %}
    <div class="sort-datasets">
      <span>Ordenar por:</span>
      {% if c.sort_by_selected != "score desc" %}
        <a class="active" href="{{ url }}?sort=metadata_modified+desc">M&aacute;s Nuevo</a>
        <span>/</span>
        <a href="{{ url }}?sort=score+desc">M&aacute;s Popular</a>
      {% else %}
        <a href="{{ url }}?sort=metadata_modified+desc">M&aacute;s Nuevo</a>
        <span>/</span>
        <a class="active" href="{{ url }}?sort=score+desc">M&aacute;s Popular</a>
      {% endif %}
    </div>
    {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
  {% endif %}
{% endblock %}

{% block page_pagination %}
  {{ c.page.pager(q=c.q) }}
{% endblock %}
