body {
  background-color: #3d3d3d;
}

.account-masthead {
  background-color: rgb(40, 40, 40);
}

.hero {
  background: url(/cmx-home.jpg);
  padding: 60px 0;
}

/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background: #23324F;
  border-bottom: 1px solid #151F31;
}

.masthead .content {
  position: static;
  display: inline-block;
}

.masthead .navigation .nav-tabs {
  border-bottom: 0px;
  font-size: 1.2em;
  font-weight: 200;
}

.masthead .nav {
  margin-left: 20px;
}

.masthead .nav-tabs>li>a {
  margin-right: 20px;
}

.masthead .nav-tabs>li>a:hover {
  font-size: 1.0em;
}

.masthead .navigation .nav-tabs li a:hover,
.masthead .navigation .nav-tabs li.active a {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.masthead .header-image {
  display: inline-block;
  vertical-align: bottom;
  background-color: #151f31;
  width: 400px;
  height: 80px;
  text-align: right;
}

.masthead .container {
  width: auto;
}

.masthead a.logo {
  display: block;
  height: 80px;
  text-align: center;
  padding: 20px;
}


/* Dropdown nav */
.masthead ul.dropdown {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0;
  padding: 0;
  list-style: none;
}

.masthead ul.push-from-right, .masthead .push-from-right {
  position: absolute;
  right: 10%;
}

ul.dropdown img.gravatar {
  position: relative;
  top: -3px;
}

ul.dropdown li {
  display: block;
  position: relative;
  float: left;
}

ul.dropdown li ul {
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  background-clip: padding-box;
  z-index: 100;
}

ul.dropdown li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 1px;
  white-space: nowrap;
}

ul.dropdown > li > a {
  height: 40px;
  position: relative;
  top: -5px;
}

ul.dropdown li ul li a{
  color: #23324F;
  font-size: 1.3em;
  font-weight: 200;
}

ul.dropdown li:hover ul {
  display: block;
  position: absolute;
}

ul.dropdown li:hover ul:before{
  content: '';
  display: inline-block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #CCCCCC;
  border-bottom-color: #FFFFFF;
  position: absolute;
  top: -8px;
  left: 55px;
}

ul.dropdown li ul:first-child {
  border-radius: 10px;
}

ul.dropdown li:hover li {
  float: none;
  font-size: 11px;
}

ul.dropdown li:hover li a {
  background: #FFFFFF;
  padding: 5px 30px 5px 30px;
}

ul.dropdown.nav.nav-tabs li:hover li a:hover {
  background: #23324F;
  color: #FFFFFF;
  border: none;
}

/* /dropdown nav */

/* Index search snippet */

.homepage {
  background-color: #121E34;
  color: #ffffff;
}

.homepage .module-search {
  text-align: center;
  padding: 0px;
  background-color: #121E34;
}

.highlighted {
  color: #2F9DE6;
  font-weight: bolder;
}
.homepage .search-form .search-input.search-giant input {
  padding: 25px 100px 25px 20px;
  width: 600px;
  border: none;
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.0em;
}

.homepage .search-giant {
  display: inline-block;
}
.homepage .module-search .module-content .heading {
  margin: 10px 0px 10px 0px;
  font-size: 2.1em;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.homepage .module-search .module-content h5 {
  margin: 0px 0px 40px 0px;
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 0.02em;
  color: #BDBDBD;
}

.homepage .module-search .module-content, .organization-page.module-content {
  padding: 130px 0px;
  margin: 0px;
  height: 250px;
  background: url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage .joined-orgs-msg {
  padding: 50px 0px 50px 0px;
  color: #70A6C6;
  text-align: center;
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.homepage .joined-orgs-msg a {
  color: inherit;
  text-decoration: underline;
}

.search-form {
  border: none;
}

.notice {
  padding: 20px;
}

.homepage .module-search .module-content .notice h5 {
  margin: 5px;
}

/* who uses it */
.who-uses-it {
  padding: 25px 0px 25px 0px;
  text-align: center;
  background-color: #EEEEEE;
  color: #5B5B5B;
}

.who-uses-it h2 {
  letter-spacing: 0.05em;
  font-weight: 400;
}

.who-uses-it p {
  letter-spacing: 0.05em;
  line-height: 1.3em;
  font-weight: 200;
  font-size: 1.5em;
  color: #858585;
  margin: 10px;
}

div.frame-white-round {
  padding: 20px 50px 20px 50px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  display: inline-block;
}

a.button {
  color: #ffffff;
  padding: 10px 30px 10px 30px;
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
  display: inline-block;
  margin: 20px 0px 20px 0px;
}

a.button:hover {
  text-decoration: none;
}

.button-green {
  background-color: #00CC79;
}

.button-yellow {
  background-color: #ECBC2B;
}

.button-blue {
  background-color: #24AEED;
}

.button-orange {
  background-color: #F06226;
}

a.button-bordered:hover {
  text-decoration: none;
}

a.button-bordered {
  padding: 10px 30px 10px 30px;
  border: 3px solid #A2A2A2;
  border-radius: 3px;
  color: #686868;
  font-size: 1.3em;
  display: inline-block;
  margin: 10px;
}

.collaborators {
  background-color: #FFFFFF;
  padding: 25px 40px 25px 40px;
  color: #858585;
  text-align: center;
}

.collaborators h2 {
  font-weight: 400;
  text-align: left;
}

.collaborators div {
  display: inline-block;
  margin: 10px 60px 10px 60px;
}

.collaborators div img {
  margin: 30px 10px 30px 10px;
  height: 80px;
}

/* Footer */

.site-footer {
  background: #EEEEEE;
  color: #2C2C2C;
  font-weight: 200;
  font-size: 1.1em;
  padding: 50px;
}

.site-footer a {
  color: #2C2C2C;
}

.site-footer h5 {
  font-weight: 200;
  color: #565656;
}

.site-footer .logo {
  text-align: right;
  vertical-align: top;
}

.site-footer label {
  color: #2C2C2C;
  font-weight: 200;
  font-size: 1.1em;
}
.footer-links {
  width: auto;
}

.footer-links .logo, .footer-links .all-links {
  display: inline-block;
  margin: 0px 50px 0px 50px;
}

/* Organization */

.organization-page {
  background-color: #EEEEEE;
  padding: 20px 40px;
  border-bottom: 1px solid #BEBEBE;
}

.image-circle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading {
  color: #FFFFFF;
  font-size: 50px;
}

.description {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 30px;
  font-weight: 100;
  letter-spacing: 1px;
}

.organization {
  text-align: center;
}

.organization div {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.organization .stats {
  text-align: left;
  display: block;
  margin-top: 20px;
}

.organization .stats div {
  text-align: center;
  color: #506897;
  font-size: 24px;
  font-weight: 300;
  border: 4px solid #506897;
  border-radius: 5px;
  padding: 20px 30px;
  min-width: 130px;
}

.organization .stats div h1 {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 400;
  margin: -10px;
  text-align: center;
}

.organization-info h1 {
  text-align: left;
}

.organization-info p {
  text-align: left;
  width: 600px;
}

.organization-info a {
  display: block;
  color: #62E7DE;
}

.package-list {
  background: #EEEEEE;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.dataset-list .dataset-item {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 180px;
  margin: 15px 20px 15px 20px;
  background: #FFFFFF;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  box-shadow: 0px 2px 0px #5CB3E7;
  position: relative;
}

.dataset-item .dataset-content div {
  overflow: hidden;
  font-weight: 200;
  font-size: 15px;
  color: #5B5B5B;
  position: relative;
  height: 4.0em;
}

.dataset-item .dataset-content div:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.dataset-item .dataset-content .dataset-heading {
  font-size: 20px;
  overflow: hidden;
  position: relative;
  height: 2.6em;
}

.dataset-item .dataset-content .dataset-heading:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.dataset-item .dataset-resources {
  position: absolute;
  bottom: 10px;
}

.dataset-item .dataset-resources .label {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 200;
  margin-top: 3px;
}

div.sort-datasets {
  color: #555555;
  font-size: 20px;
  font-weight: 100;
  margin: 15px 0px;
}

div.sort-datasets a.active {
  font-weight: 500;
}

div.sort-datasets a {
  color: #555555;
}

.apps-list {
  text-align: center;
  color: #5B5B5B;
  padding: 50px;
}

.apps-list h3 {
  font-size: 20px;
  font-weight: 300;
}

.apps-list > p {
  margin-bottom: 50px;
}

.apps-list p {
  color: #959595;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
}

.clearfix {
  clear: both;
}

.frame-app {
  width: 230px;
}

.frame-app h2 {
  color: #292929;
  font-weight: 500;
  letter-spacing: 1px;
}

.frame-app .technologies {
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0px;
}
