body {
  background-color: #3d3d3d;
}

.account-masthead {
  background-color: rgb(40, 40, 40);
}

.hero {
  background: url(/cmx-home.jpg);
  padding: 60px 0;
}

/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background: #23324F;
  border-bottom: 1px solid #151F31;
}

.masthead .content {
  position: relative;
  display: inline-block;
}

.masthead .navigation .nav-tabs {
  border-bottom: 0px;
  font-size: 1.2em;
  font-weight: 200;
}

.masthead .nav {
  margin-left: 20px;
}

.masthead .nav-tabs>li>a {
  margin-right: 20px;
}

.masthead .nav-tabs>li>a:hover {
  font-size: 1.0em;
}

.masthead .navigation .nav-tabs li a:hover,
.masthead .navigation .nav-tabs li.active a {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.masthead .header-image {
  display: inline-block;
  vertical-align: bottom;
  background-color: #151f31;
  width: 400px;
  height: 80px;
  text-align: right;
}

.masthead .container {
  width: auto;
}

.masthead a.logo {
  display: block;
  height: 80px;
  text-align: center;
  padding: 20px;
}

/* Index search snippet */

.homepage {
  background-color: #121E34;
  color: #ffffff;
}

.homepage .module-search {
  text-align: center;
  padding: 0px;
  background-color: #121E34;
}

.highlighted {
  color: #2F9DE6;
  font-weight: bolder;
}
.homepage .search-form .search-input.search-giant input {
  padding: 25px 100px 25px 20px;
  width: 600px;
  border: none;
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.0em;
}

.homepage .search-giant {
  display: inline-block;
}
.homepage .module-search .module-content .heading {
  margin: 10px 0px 10px 0px;
  font-size: 2.1em;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.homepage .module-search .module-content h5 {
  margin: 0px 0px 40px 0px;
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 0.02em;
  color: #BDBDBD;
}

.homepage .module-search .module-content {
  padding: 100px 0px 100px 0px;
  height: 250px;
  background: url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage .joined-orgs-msg {
  padding: 50px 0px 50px 0px;
  color: #70A6C6;
  text-align: center;
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.homepage .joined-orgs-msg a {
  color: inherit;
  text-decoration: underline;
}

.search-form {
  border: none;
}

.notice {
  padding: 20px;
}

.homepage .module-search .module-content .notice h5 {
  margin: 5px;
}

/* who uses it */
.who-uses-it {
  padding: 25px 0px 25px 0px;
  text-align: center;
  background-color: #EEEEEE;
  color: #5B5B5B;
}

.who-uses-it h2 {
  letter-spacing: 0.05em;
  font-weight: 400;
}

.who-uses-it p {
  letter-spacing: 0.05em;
  line-height: 1.3em;
  font-weight: 200;
  font-size: 1.5em;
  color: #858585;
  margin: 10px;
}

.user-description {
  padding: 20px 50px 20px 50px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  display: inline-block;
}

a.button {
  color: #ffffff;
  padding: 10px 30px 10px 30px;
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
  display: inline-block;
  margin: 20px 0px 20px 0px;
}

a.button:hover {
  text-decoration: none;
}

.button-green {
  background-color: #00CC79;
}

.button-yellow {
  background-color: #ECBC2B;
}

.button-blue {
  background-color: #24AEED;
}

.button-orange {
  background-color: #F06226;
}

a.button-bordered:hover {
  text-decoration: none;
}

a.button-bordered {
  padding: 10px 30px 10px 30px;
  border: 3px solid #A2A2A2;
  border-radius: 3px;
  color: #686868;
  font-size: 1.3em;
  display: inline-block;
  margin: 10px;
}

.collaborators {
  background-color: #FFFFFF;
  padding: 25px 40px 25px 40px;
  color: #858585;
  text-align: center;
}

.collaborators h2 {
  font-weight: 400;
  text-align: left;
}

.collaborators div {
  display: inline-block;
  margin: 10px 60px 10px 60px;
}

.collaborators div img {
  margin: 30px 10px 30px 10px;
  width: 160px;
}

/* Footer */

.site-footer {
  background: #EEEEEE;
  color: #2C2C2C;
  font-weight: 200;
  font-size: 1.1em;
  padding: 50px;
}

.site-footer a {
  color: #2C2C2C;
}

.site-footer h5 {
  font-weight: 200;
  color: #565656;
}

.site-footer .logo {
  text-align: right;
  vertical-align: top;
}

.site-footer label {
  color: #2C2C2C;
  font-weight: 200;
  font-size: 1.1em;
}
.footer-links {
  width: auto;
}

.footer-links .logo, .footer-links .all-links {
  display: inline-block;
  margin: 0px 50px 0px 50px;
}

