{% ckan_extends %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-tabs">
      {% block header_site_navigation_tabs %}
        <li><a href="/dataset">Datos</a></li>
        <li><a href="http://docs.ckan.org/en/ckan-2.2/api.html">APIs</a></li>
        <li><a href="https://github.com/CodeandoMexico">Apps</a></li>
        <li><a href="http://www.codeandomexico.org/retos">Retos</a></li>
      {% endblock %}
    </ul>
  </nav>
{% endblock %}

{% block header_site_search %}
{% endblock %}
